.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    margin-left: 5vw;
    margin-top: 10vh;
    font-size: 1rem;
    user-select: none;

}

.header-emojis {
    font-size: 1.3rem;
}

.wave:hover {
    display: inline-block;
    animation: wave 1s ease-in forwards infinite;
    scale: 1.3;
    transform-origin: bottom;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
  


    }

    25% {
        transform: rotate(-25deg);
        scale: 1.03;
    }

    50%{
        transform: rotate(-50deg);

    }

    75% {
        transform: rotate(-25deg);

    }

    100%{
        transform: rotate(0deg);


    }
    
}

.header-item:hover {
    transform: scale(1.2);
    transform-origin: left;
    transition: all 0.3s ;
}
